<main class="tour_main">
    <!-- 소개페이지 메인 -->
    <section class="tour_section tour_top_img">
        <div class="tour_top_txt">
            <p class="tour_h_2">
                <span></span>도전! 서문시장 야시장
            </p>
            <pv class="tour_h_1">투어미션</p>
        </div>
    </section>

    <section class="tour_section">
        <div class="tour_section2">
            <img src="./img/tour.jpg">
        </div>
    </section>

</main>